body.platform-page {
	background-image: url('/img/platform-bg.png');
	background-size: 100% 529px;
	background-repeat: repeat-x;
}
.platform-page .col-sm-4 {
	width: 300px;
	text-align: center;
}
.platform-page .col-sm-4 img {
	border-radius: 25px;
	width: 175px;
}
